*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #00132B;
}
header{
    width: 100%;
    height: 10vh;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    width: 60%;
}
nav ul {
    font-size: 1.4rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
main{
    width: 100%;
    height: 60vh;
    border: 1px solid white;
    padding: 2vh;
    display: flex;
}
#video-container {
    width: 80%;
    max-width: 800px;
    height: 100%;
    text-align: center;
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-js {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.vjs-text-track-display {
    display: none;
}
.videoContainer2 {
    width: 80%;
    max-width: 800px;
    height: 100%;
    text-align: center;
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-js {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.vjs-text-track-display {
    display: none;
}
.custom-speed-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    padding: 0 18px;
}
.speed-dropdown {
    position: absolute;
    background: #fff;
    list-style-type: none;
    margin: 0;
    padding: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    right: 0;
    top: 30px;
}
.speed-dropdown li {
    padding: 5px;
    padding-right: 10px;
    cursor: pointer;
}
.speed-dropdown li:hover {
    background-color: #f0f0f0;
}